:root{
    --green: lightgreen;
    --black: black;
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);

}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.2s linear;
}

html{
    font-size: 62.5%;
    overflow: auto;
    scroll-padding-top:5.5rem;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar{

    display:block;
    height:10px;
    width: 10px;

}
html::-webkit-scrollbar-track{

    border-radius: 0;
}
html::-webkit-scrollbar-thumb{
    background: rgb(158, 158, 158);
    border-radius: 5px;
}
html::-webkit-scrollbar-thumb:hover{
    background:orangered;
}
header{
    position: fixed;
    top:0; left:0; right:0;
    background: white;
    padding:1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: var(--box-shadow);
}
header .logo{
    color: var(--black);
    font-size:2.5rem;
    font-weight:bolder;
}
header .logo i{
    color: orangered;
}
header .navbar a{
    font-size: 1.7rem;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    color:var(--light-color);

}
header .navbar a.active,
header .navbar a:hover{
    color: #fff;
    background: orangered;
}
header .icons i,
header .icons a{
    cursor:pointer;
    margin: left 0.5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    text-align: center;
    font-size: 1.7rem;
    color:black;
    border-radius:50%;
    background: #eee;

}
header .icons i:hover,
header .icons a:hover{
    color: #fff;
    background: orangered;
    transform: rotate(360deg);

}
header .icons #menu-bars{
    display: none;
}




.barb{
    margin-left: 100px;

}
 .barb .barbeque {
        margin-top: 100px;
    }
.barb .box-container{
    margin-top:120px;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(27rem,1fr));
    gap:5.5rem;
}
.barb .box-container .box{
    cursor: pointer;
    margin-left: 2.5rem;
    font-size: 1.2rem;
    padding:2.5rem;
    align-items: center;
    background: #fff;
    border-radius: .5rem;
    border: .1rem solid rgba(0,0,0,.2);
    box-shadow: var(--box-shadow);
    position: relative;
    overflow: hidden;
    text-align: center;

}
.barb .box-container .box h3{
    font-size: 25px;
}
.barb .box-container .box:hover{
    transform: scale(1.1);
}
.barb .box-container .box img{
    height: 100%;
    width: 100%;
    border-radius: 5px;

}
.barb .box-container .box span{
    font-size: 20px;
}












































/media queries/
@media (max-width:991px){
    html{
        font-size: 55%;
    }
    header{
        padding: 1rem 2rem;
    }
    section{
        padding: 1rem 2rem;
    }
    footer{
        padding: 1rem 2rem;
    }

}
@media (max-width:768px){
    header .icons #menu-bars{
        display: inline-block;
    }
    header .navbar{
        position: absolute;
        top:100%; left:0;right:0;
        background:#fff;
        border-top:.1rem solid rgba(0,0,0,.2);
        border-bottom:.1rem solid rgba(0,0,0,.2);
        padding:1rem;
        clip-path: polygon(0 0, 100% 0,100% 0,0 0);

    }
    header .navbar.active{
        clip-path: polygon(0 0, 100% 0,100% 100%,0% 100%);
    }
    header .navbar a{
        display:block;
        padding:1.5rem;
        margin:1rem;
        font-size:2rem;
        background: #eee;
    }
    .footer{
        background: #24262b;
        padding: 50px 0;
    }
    .footer-col h4{
        cursor: default;
        font-size: 11.5pt;
        font-weight: normal;
        color: orangered;
        padding-bottom: 10px;
    }
    .footer-col ul a
{
    font-size:25px;
    color:orangered;
}
.footer-col ul i{
    font-size:25px;
    color:orangered;
}
.footer-col ul span{
    cursor:pointer;
    font-size:20px;
    font-weight:bold;
    color:white;
}

.map ul a{
    margin-left: 10px;
    font-size: 15px;
    color:white;
}
.footer-col .mail ul i{
    padding-top: 20px;

    font-size:25px;
}
.footer-col .mail span{

    padding-left: 3px;
    font-size: 12px;
    font-weight: normal;
}
.footer-col .map ul i{
    padding-top:20px;
    font-size: 20px;
}
.footer-col .map span{
    font-weight: normal;
    font-size:12px;
    margin-left: 15px;
    margin-top: auto;
    margin-bottom: auto;
    color:white;

}
.footer-col ul li a{
    line-height: 1.6;
    font-size:12px;
    text-decoration: none;
    color:white;

}




}
@media (max-width: 991px){
    html{
        font-size: 50%;

    }
}


.containerItem{
    margin-top: 150px;

}


.item-title {
    margin-top:5px;
    font-size:15px;

}

.price {
    margin-top: 5px;
    font-size:15px;
}