@page "/getMenu/{restaurantId}"
@using Cambrain_Foodos.Data;
@using Cambrain_Foodos.Models;

@inherits MenuBase.MenuBase

@code {
    [Parameter]
    public string? restaurantId { get; set; }
}

@{

    var id = Convert.ToInt32(restaurantId);
    List<Menu_items> res = getItemsListByRestaurantID(id);

}




<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="icon" href="./css/Images/download.png" type="image/icon type">
    <link rel="stylesheet" href="./css/restaurant.css">
</head>
<body>
    <!--Header section start-->
    <header>
        <a href="#" class="logo"><i class="fa fa-utensils"></i>Cambrian Foodos</a>
        <nav class="navbar">
            <a class="active" href="./home.html">Home</a>
            <a href="./contact.html" >Contact us</a>
            <a class="feed" id="feedback">feedback</a>
            <a href="#">Orders</a>
            <a href="#">cart</a>
        </nav>
    </header>

   

  <section class="barb" >
    <h1 class="barbeque">Menu</h1>
    
    <div class="box-container">
        @foreach (var item in res)
      {
        <div class="box">
            <a><img src=@item.ItemImage></a>
            <h3>@item.ItemName</h3>
            <p>@item.ItemPrice</p>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
                <br>
                <p>@item.ItemDescription</p>
            </div>
        </div>
      }
    </div>
  </section>

</body>
</html>