@page "/addselection/{itemId}"

@inherits MenuBase.MenuBase


@code {
    [Parameter]
    public string? itemId { get; set; }
}

@{

    var id = Convert.ToInt32(itemId);
    var item = GetItemByID(id);
}


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="icon" href="./css/Images/download.png" type="image/icon type">
    <link rel="stylesheet" href="./css/restaurant.css">
    <style>
        body {
            background-image: url('./css/Images/website1.jpg');
            height: 100%;
        }
    </style>
</head>
<header>
    <a href="#" class="logo"><i class="fa fa-utensils"></i>Cambrian Foodos</a>
    <nav class="navbar">
        <a class="active" href="./home.html">Home</a>
        <a href="./contact.html">Contact us</a>
        <a class="feed" id="feedback">feedback</a>
        <a href="#">Orders</a>
        <a href="#">cart</a>
    </nav>
</header>

<div class="containerItem">
       <div class="text-center">
        <img src="@item.ItemImage" style="width:30%" />
        <div class="item-title">@item.ItemName</div>
        <div class="price"> Price:@item.ItemPrice $</div>
        </div>

    <div class="row">
        <div class="col-md-6 text-end">
            <label>Quantity</label>
        </div>
        <div class="col-md-2 text-start">
            <input type="number" class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 text-end">
        </div>
        <div class="col-md-2 text-start">
            <button class="btn btn-primary" @onclick="() => SaveItem()">Add </button>
        </div>
    
    </div>
</div>

